html, body {
}

body {
	font-family: 'Roboto Slab', serif;
	font-size:12px;
	line-height:2em;
	color:purple;
}

div#wrapper {
	background:white;
}

div#inner-wrapper {
	background:purple;
}

div#menu {
	height:100%;
	padding:20px 0 0 20px;
	color:white;
}

div#menu ul {
	padding-left:0;
	margin-left:0;
}

div#menu a {
	color:white;
	font-weight:bold;
	text-decoration: none;
}

div#menu li {
	list-style-type: none;
}

div#content {
	padding-top:5px;
	min-height:100%;
	padding-bottom:20px;
	background:white;
}

div.hidden {
	display:none;
}

h1, h2, h3 {
	font-family: 'Playball', cursive;
}

h1 {
	font-size:40px;
}

table {
}

td.tyler, td.narrator{
	font-weight:bold;
	width:200px;
}

div.clear {
	clear:both;
}

div#footer {
	clear:both;
	margin:20px auto;
	text-align: center;
}
